@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

// Variables
$dark-blue: #111319;
$medium-blue: #1D212B;
$black-opacity: rgba(0,0,0,0.5);
$medium-gray: #707070;
$yellow: #FDBF04;
$white: #f4f4f4;
$font-lato: 'Lato', sans-serif;


.no-found {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-found-icon {
    width: 80%;
    max-width: 550px;
    height: auto;
}

.no-found-text{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
