@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  @extend .center;
  margin-top: 80px;
  flex-direction: column;
  h2 {margin-bottom: 35px;}
}

.profile-picture{
    img{
      width: 120px;  
      height: auto;
      border-radius: 50%;
    }
}