@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.filtro{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-filter{
    width: 80%;
    max-width: 550px;
    height: auto;
}