@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro {
    @extend .center;
    margin-top: 80px;
}