@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
$dark-blue: #111319;
$medium-blue: #1D212B;
$medium-gray:#707070;
$yellow: #FDBF04;
$white: #FFFFFF;

.menu {
    z-index: 1;
    position: relative;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
    li{
        text-decoration: none;
    }
    li a{
        text-decoration: none;
        color:white
    }
}

#alerts {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    width: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.error-message-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 4% auto;
    text-align: center;
    font-size: 20px;
    background-color: #981a1a;
    border-radius: 20px;
    height: 40px;
}

.hide {
 display: none;
}